
:root {
	--global--color-primary: #734B5E;
    --global--color-secondary: #F7F7FF;

    --global--color-weak: #FC7A1E;
    --global--color-medium: #FFC759;
    --global--color-strong: #55868C;

}

* {
    font-family: "Monolisa", monospace;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overflow-x: hidden;
}

body {
    background-color: var(--global--color-primary);
    color: var(--global--color-secondary);
    
}

a {
    text-decoration: none;
    color: var(--global--color-secondary);
}

img {
    display: block;
    object-fit: contain;
    width: 100%;
    height: 80%;
}

i {
    font-size: 20px;
    z-index: 3;
}
.centred {
    display: grid;
    place-content: center;
}


.parent-container {
    display: grid;
    
    width: 100vw;
    
    place-items: center;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    
    gap: 10px;
}


.course-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25vh;
    border-style: solid;
    border-color: var(--global--color-secondary);
    border-radius: 5px;
}

.course-container:hover {
    cursor: pointer;
}


.deck-name {
    transition: transform 250ms ease-in-out;
    cursor: pointer;
}

.study-deck {
    transition: all 250ms ease-in-out;
    cursor: pointer;
    
}

.deck-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25vh;
    border-style: solid;
    border-color: var(--global--color-secondary);
    border-radius: 5px;
}


#cards {
    display: grid;
    gap: 10px;
}


.card-preview {
    display: grid;

    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    border-style: solid;
    border-color: var(--global--color-secondary);
    border-radius: 5px;
}

.card-side-preview {
    padding-left: 15px;
}

.card-side-preview:nth-child(1) {
    
    border-right: 3px dashed var(--global--color-secondary);
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.deck-option {
    width: 100%;
    cursor: pointer;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--global--color-secondary);
}

#study {
    cursor: pointer;
}

#card {
    display: grid;
    background-color: var(--global--color-primary);
    width: 90vw;
    height: 65vh;
    border: 5px solid;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

#confidence-form {
    display: grid;
    width: 90vw;
    height: 20vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    cursor: pointer;
}

.confidence {
    display: flex;
    
    width: 50%;
    justify-content: center;
    align-items: center;

    border: 5px solid;
    border-radius: 5px;
}

.confidence:nth-child(1) {
    border-color: var(--global--color-weak);
}
.confidence:nth-child(2) {
    border-color: var(--global--color-medium);
}
.confidence:nth-child(3) {
    border-color: var(--global--color-strong);
}

#prompt {
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: inherit;
    width: inherit;
    place-items: center;
}

#prompt-text {
    
    height: 100%;
}

@media only screen and (max-width: 800px){

    .parent-container{
        grid-template-columns: 1fr;
    }

    .card-preview {
        grid-template-columns: 1fr;
    }

    #options {
        width: 90vw;
    }

    .card-side-preview:nth-child(1) {
    
        border-right: 0px dashed;
        border-bottom: 3px dashed var(--global--color-secondary);
    }

    #confidence-form {
        
        height: 40vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }

    #card {
        height: 45vh;
    }

}


@media only screen and (min-width: 1200px){

    .parent-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}