:root {
	--global--color-primary: #22222A;
    --global--color-secondary: #F7F7FF;

    --global--color-weak: #E99067;
    --global--color-medium: #E37D16;
    --global--color-strong: #004967;

}

* {
    font-family: "Monolisa", monospace;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    overflow-x: hidden;
    
}



body {
    background-color: var(--global--color-primary);
    color: var(--global--color-secondary);
    
}


h1 {
    font-size: 40px;
}

h3 {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: var(--global--color-secondary);
}

img {
    display: block;
    object-fit: contain;
    width: 80%;
    height: 80%;
}

i {
    font-size: 25px;
    z-index: 3;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
}

i:hover {
    scale: 1.1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    
}


input[type="text"] {
    color: var(--global--color-strong) ;
    outline: none;
    border: 3px solid var(--global--color-strong);
    border-radius: 5px;
    background-color: transparent;
    font-size: 25px;  
}


::placeholder {
    color: var(--global--color-strong);
}

input[type="submit"] {
    color: var(--global--color-strong);
    font-size: 20px;
    background-color: transparent;
    border: 3px solid var(--global--color-strong);
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}
input[type="submit"]:hover {
    scale: 1.1;
    color: var(--global--color-secondary);
    background-color: var(--global--color-strong);
}


.centred {
    display: grid;
    place-content: center;
}

.pointer {
    cursor: pointer;
}

.popup {
    padding: 25px;
    background-color: var(--global--color-secondary);
    border-radius: 10px;
    opacity: 1;
    min-width: 25vw;
    max-width: 95vw;
    height: 15vh;
    border: 5px solid var(--global--color-strong);
    scale: 0;
    opacity: 0;
    transition: all 300ms ease-in-out;
    z-index: 6;
}

.close {
    position: absolute;
    top: 13%;
    left: 95%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
    
}


.centred-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.parent-container {
    display: grid;
    
    width: 100vw;
    
    place-items: center;

    
    grid-template-rows: auto;
    
    gap: 30px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25vh;
    border-style: solid;
    border-color: var(--global--color-secondary);
    border-radius: 5px;
    z-index: 1;
}



.deck-name {
    transition: transform 250ms ease-in-out;
}

.study-deck {
    scale: 0;
    transition: all 250ms ease-in-out;
}




#cards {
    display: grid;
    margin: 25px;
    gap: 10px;
}


.card-preview {
    display: grid;

    width: 90vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    border-style: solid;
    border-color: var(--global--color-secondary);
    border-radius: 5px;
}

.card-side-preview {
    padding-left: 15px;
    
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.card-side-preview:nth-child(1) {
    
    border-right: 3px dashed var(--global--color-secondary);
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    place-self: center;
    gap: 25px;
}

.deck-option {
    width: 100%;
    cursor: pointer;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--global--color-secondary);
}

.image-preview {
    display: block;
    place-self: center;
    height: 90%;
    width: 90%;
    max-width: 500px;
    max-height: 300px;
    aspect-ratio: 16 / 9;
}

#study-session {
    display: grid;
    height: 80vh;
    grid-template-rows: 6fr 1fr;
    gap: 25px;
}

#card {
    display: grid;
    background-color: var(--global--color-primary);
    width: 90vw;
    
    border: 5px solid;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}

#confidence-form {
    display: grid;
    width: 90vw;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    cursor: pointer;
}

.confidence {
    display: flex;
    
    width: 50%;
    justify-content: center;
    align-items: center;

    border: 5px solid;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
}

.confidence:hover{
    scale: 1.1;
}

.confidence:nth-child(1) {
    border-color: var(--global--color-weak);
}
.confidence:nth-child(2) {
    border-color: var(--global--color-medium);
}
.confidence:nth-child(3) {
    border-color: var(--global--color-strong);
}

#prompt {
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: inherit;
    width: inherit;
    place-items: center;
}

#prompt-text {
    
    height: 100%;
}

#deck-info {
        
    text-align: center;
}

@media only screen and (max-width: 1075px){

    #study-session {
        display: grid;
        margin-top: 50px;
        height: 85vh;
        grid-template-rows: 3fr 2fr;
    }

    
    .parent-container{
        grid-template-columns: 1fr;
    }

    .card-preview {
        grid-template-columns: 1fr;
    }

    #options {
        width: 90vw;
    }

    

    .card-side-preview:nth-child(1) {
    
        border-right: 0px dashed;
        border-bottom: 3px dashed var(--global--color-secondary);
    }

    #confidence-form {
        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }

    #card {
        height: 45vh;
    }

}

@media only screen and (min-width: 1200px){

    .parent-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}