<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Free Flash</title>
    <link rel="stylesheet" href="/frontend/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>

</head>
<body>
    <h1 class="centred"><a href="/frontend/templates/index.html">Free Flash</a></h1>
    <div id="decks" class="parent-container"></div>
    <div class="popup centred-absolute centred pointer" id="deck-container">
        <i class="fa-solid fa-x close" style="color: #004967;" id="close-popup"></i>
        <form action="http://192.168.1.53:8000/api/new_deck/" method="post" id="deck-form">
            <input type="text" name="name" placeholder="Deck name" autocomplete="off">
            <input type="submit" value="Create" class="pointer">
        </form>
    </div>
    <script src="/frontend/js/getDecks.js"></script>
    <script src="/frontend/js/newDeck.js"></script>    
</body>
</html>