<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="/frontend/css/style.css">
</head>
<body>
    <h1 class="centred"><a href="/frontend/templates/index.html">Free Flash</a></h1>
    <div id="options-container" class="centred">
        <div id="options" class="centred">
            <div id="study" class="deck-option centred"><h3>Study</h3></div>
        </div>
    </div>
    
    <div id="cards" class="centred"></div>
    <script src="/frontend/js/getCards.js"></script>
</body>
</html>