<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/frontend/css/style.css">
    <title>Study</title>
</head>
<body>
    <div id="study-session">
        <div id="card">
            <div id="question"><h3 id="question-text"></h3></div>
            <div id="answer"><h3 id="answer-text"></h3></div>
        </div>
        <div id="confidence-form">
            <div class="confidence"><h3>1 (Weak)</h3></div>
            <div class="confidence"><h3>1 (Meidum)</h3></div>
            <div class="confidence"><h3>3 (Strong)</h3></div>
        </div>
    </div>
    

    <script src="/frontend/js/study.js"></script>
</body>
</html>