<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/frontend/css/style.css">
    <title>Study</title>
</head>
<body>
    <h1 class="centred"><a href="/frontend/templates/index.html">Free Flash</a></h1>

    <div id="study-session" class="centred">
        <div id="card" class="centred">
            <div id="prompt">
                <h3 id="prompt-text" class="centred"></h3>
                <img src="" alt="" id="prompt-image">
            </div>
        </div>
        <div id="confidence-form">
            <div class="confidence" id="1"><h3>1 (Weak)</h3></div>
            <div class="confidence" id="2"><h3>2 (Meidum)</h3></div>
            <div class="confidence" id="3"><h3>3 (Strong)</h3></div>
        </div>
    </div>
    

    <script src="/frontend/js/study.js"></script>
</body>
</html>