<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/frontend/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>

    <title>Study</title>
</head>
<body>
    <h1 class="centred"><a href="/frontend/templates/index.html">Free Flash</a></h1>
    
    <h3 id="deck-info"></h3>
    
    <div id="study-session" class="centred">
        <div id="card" class="centred">
            <div id="prompt">
                <h3 id="prompt-text" class="centred"></h3>
                <img src="" alt="" id="prompt-image">
            </div>
        </div>
        <div id="confidence-form">
            <div class="confidence" id="1"><h3>Weak</h3></div>
            <div class="confidence" id="2"><h3>Meidum</h3></div>
            <div class="confidence" id="3"><h3>Strong</h3></div>
        </div>
    </div>
    

    <script src="/frontend/js/study.js"></script>
</body>
</html>